.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 30%;
  height: 400px;
  width: 500px;
  background-color: #2b5278;
  border: "2px solid #000";
  padding: 20px;
  color: white;
}

.wrapper ul li {
  padding: 5px 0;
  cursor: pointer;
}

.wrapper ul {
  overflow-y: auto;
  flex-grow: 1;
}

.title {
  text-align: center;
  flex: none;
}
